.about {
  padding: 100px 50px;
  h3 {
    font-size: 38px;
    margin-bottom: 25px;
  }
  .about-wrapper {
    display: flex;
    flex-direction: row;
  }
  &__text {
    width: 65%;
    p {
      font-size: 18px;
      &:first-of-type {
        margin-top: 0;
      }
    }
  }
  &__skills {
    margin-left: 150px;
    h4 {
      font-size: 24px;
      font-family: 'CalibreBold', sans-serif;
      letter-spacing: 1.5px;
      margin-top: -3px;
      margin-bottom: 10px;
    }
    .skill {
      display: flex;
      flex-direction: row;
      align-items: center;
      i {
        font-size: 20px;
        margin-right: 8px;
      }
      img {
        width: 20px;
        margin-right: 8px;
      }
      font-size: 18px;
      font-family: 'CalibreReg', sans-serif;
    }
  }
}

@media screen and (max-width: 975px) {
  .about {
    &__skills {
      margin-left: 75px;
    }
  }
}
@media screen and (max-width: 987px) {
  .about {
    padding-left: 0;
    padding-right: 0;
    padding-top: 75px;
  }
}
@media screen and (max-width: 767px) {
  .about {
    .about-wrapper {
      display: flex;
      flex-direction: column;
    }
    &__text {
      width: 80%;
    }
    &__skills {
      margin-left: 0;
      padding-top: 25px;
      .skills-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-top: 10px;
        width: 80%;
        .skill {
          margin-right: 15px;
          margin-bottom: 10px;
        }
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .about {
    &__text {
      width: 100%;
    }
    &__skills {
      .skills-list {
        width: 100%;
      }
    }
  }
}
