.contact {
  margin: 25px 0 100px 0;
  h3 {
    font-size: 38px;
    margin-bottom: 25px;
  }
  p {
    margin: 0;
    font-size: 18px;
    a {
      font-family: 'CalibreReg', sans-serif;
      transition: color 0.4s ease;
      &:hover {
        color: #7a00c1;
      }
    }
  }
  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 25px;
    label {
      font-family: 'ClassyVouge', serif;
      font-size: 20px;
      margin-right: 10px;
    }
    .contact-input-wrapepr {
      display: flex;
      flex-direction: row;
    }
    input,
    textarea {
      background: none;
      // outline: none;
      border: none;
      border-bottom: 1px solid #fff;
      flex: 1;
      color: #fff;
      font-family: 'CalibreLight', sans-serif;
      font-size: 18px;
      margin-bottom: 50px;
      outline: none;
    }
    input[type='submit'] {
      border: none;
      width: fit-content;
      cursor: pointer;
      font-family: 'ClassyVouge', serif;
      font-size: 22px;
      text-align: right;
    }
    .submit-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: end;
      align-items: center;
    }
  }
}

@media screen and (max-width: 800px) {
  .contact {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 450px) {
  .contact {
    margin-bottom: 50px;
    form {
      .contact-input-wrapepr {
        flex-direction: column;
      }
    }
  }
}
