---
import Layout from '../layouts/Layout.astro';
import '../styles/project.css';

export async function getStaticPaths() {
  const projects = await Astro.glob('../content/projects/*.md');

  return projects.map((project) => ({
    params: {
      slug: project.frontmatter.slug,
    },
    props: {
      project,
    },
  }));
}

const { Content, frontmatter } = Astro.props.project;
---

<Layout title={frontmatter.title}>
  <section class='project'>
    <div class='container'>
      <a href='/'>&larr; Back</a>
      <h2>{frontmatter.title}</h2>
      <Content />
    </div>
  </section>
</Layout>
