---
import Layout from '../layouts/Layout.astro';
import '../styles/legal.css';
---

<Layout title='Licensing'>
  <section class='licensing'>
    <div class='container'>
      <h1>Licensing</h1>
      <p>Below are a list of resources used on this site:</p>
      <ul>
        <li>
          Hero image: <a
            href='https://www.freepik.com/free-psd/3d-abstract-fluid-shape-icon_197753132.htm#fromView=search&page=1&position=29&uuid=28ad74c6-e6cc-4215-b495-aa21a1d41281'
            target='_blank'
            rel='noopener noreferrer'>FreePik</a
          >
        </li>
        <li>
          Display font: <a
            href='https://unblast.com/classy-vogue-serif-font/'
            target='_blank'
            rel='noopener noreferrer'>Unblast</a
          >
        </li>
        <li>
          Body font: <a
            href='https://befonts.com/calibre-font-family.html'
            target='_blank'
            rel='noopener noreferrer'>Befonts</a
          >
        </li>
        <li>
          Icons: <a
            href='https://fontawesome.com/'
            target='_blank'
            rel='noopener noreferrer'>FontAwesome</a
          >
        </li>
        <li>
          404 image: <a
            href='https://www.freepik.com/free-vector/hand-drawn-404-error_1587605.htm#fromView=search&page=1&position=10&uuid=59a3e633-257c-4d96-8a38-869856db7a89'
            target='_blank'
            rel='noopener noreferrer'>FreePik</a
          >
        </li>
      </ul>
    </div>
  </section>
</Layout>
