---
import '../styles/about.css';
import next from '../images/nextjs.svg';
import astro from '../images/astro.svg';
import { Image } from 'astro:assets';
---

<section class='about' id='about'>
  <div class='container'>
    <h3>about me</h3>
    <div class='about-wrapper'>
      <div class='about__text'>
        <p>
          I am a web developer from Ayrshire working around the area as well as
          Glasgow City. Qualified in Computer Science to BA degree level, with
          additional qualifications under my belt, I have plenty experience and
          know-how.
        </p>
        <p>
          My professional experience comes as a WordPress developer, where I
          worked in my role for 3 years before making the venture out into
          freelance. I have gained knowledge and experience to build upon my
          passion for front-end work and design. This combination gives me a
          unique set of skills which allows me to not only develop a website
          that is easy on the eyes, but is also both functional and accessible.
        </p>
        <p>
          If you are interested in working together, please get in touch below!
        </p>
      </div>
      <div class='about__skills'>
        <h4>My Skills</h4>
        <div class='skills-list'>
          <div class='skill'><i class='fa-brands fa-js'></i> JavaScript</div>
          <div class='skill'>
            <i class='fa-brands fa-wordpress'></i> WordPress
          </div>
          <div class='skill'><i class='fa-brands fa-react'></i> React</div>
          <div class='skill'>
            <img src={next.src} alt='NextJS logo' loading='lazy' /> NextJS
          </div>
          <div class='skill'>
            <img src={astro.src} alt='AstroJS logo' loading='lazy' /> Astro
          </div>
          <div class='skill'>
            <i class='fa-brands fa-laravel'></i> Laravel Blade
          </div>
          <div class='skill'><i class='fa-brands fa-php'></i> PHP</div>
          <div class='skill'><i class='fa-brands fa-sass'></i> SCSS</div>
          <div class='skill'><i class='fa-brands fa-html5'></i> HTML</div>
        </div>
      </div>
    </div>
  </div>
</section>
