---
import '../styles/contact.css';
---

<section class='contact' id='contact'>
  <div class='container'>
    <h3>contact</h3>
    <p>Are you interested in working together? Have any questions?</p>
    <p>
      Fill out this form or <a href='mailto:hello@morganmcdonald.co.uk'
        >send me an email</a
      > and I will get back to you ASAP.
    </p>
    <form
      name='ContactForm'
      class='contact__form'
      method='POST'
      data-netlify='true'
    >
      <div class='contact-input-wrapepr'>
        <label for='namefield'>name:</label>
        <input
          type='text'
          name='name'
          class='contact__input'
          id='namefield'
          required
        />
      </div>
      <div class='contact-input-wrapepr'>
        <label for='emailfield'>email address:</label>
        <input
          type='email'
          name='email'
          class='contact__input'
          id='emailfield'
          required
        />
      </div>
      <div class='contact-input-wrapepr'>
        <label for='messagefield'>message:</label>
        <textarea
          name='message'
          cols='0'
          rows='1'
          class='contact__input'
          id='messagefield'
          required></textarea>
      </div>

      <div class='submit-wrapper'>
        <div class='submit-container'>
          <input
            type='submit'
            id='formsubmit'
            value='submit →'
            class='button contact__button'
          />
        </div>
      </div>
    </form>
  </div>
</section>
