---
import '../styles/footer.css';
---

<footer class='footer'>
  <div class='container'>
    <div class='footer__left'>
      <div class='footer__left__top'>
        <a
          href='https://www.linkedin.com/in/morganmcdonald13/'
          target='_blank'
          aria-label='LinkedIn Link'><i class='fa-brands fa-linkedin-in'></i></a
        >
        <a
          href='https://github.com/morganmcdnald/'
          target='_blank'
          aria-label='GitHub Link'><i class='fa-brands fa-github'></i></a
        >
        <!-- <a href='#'><i class='fa-brands fa-instagram'></i></a> -->
        <a
          href='https://www.goodreads.com/user/show/101711876-morgan'
          target='_blank'
          aria-label='Goodreads Link'
          ><i class='fa-brands fa-goodreads-g'></i></a
        >
      </div>
      <div class='footer__left__bottom'>
        <a href='mailto:hello@morganmcdonald.co.uk'
          ><i class='fa-regular fa-envelope'></i>hello@morganmcdonald.co.uk</a
        >
      </div>
    </div>
    <div class='footer__right'>
      <p>
        Site was designed by myself in <a
          href='https://www.figma.com/'
          target='_blank'>Figma</a
        >, and built using <a href='https://astro.build/' target='_blank'
          >Astro</a
        > in <a href='https://code.visualstudio.com/' target='_blank'>VS Code</a
        >. Site is deployed on <a
          href='https://www.netlify.com/'
          target='_blank'>Netlify</a
        >.
      </p>
      <div class='footer__right__links'>
        <a href='/privacy-policy'>privacy policy</a><a href='/licensing'
          >licensing</a
        >
        <!-- <a href='/updates'>updates</a> -->
      </div>
    </div>
  </div>
</footer>
