---
import logo from '../images/logo-new.svg';
import '../styles/header.css';
---

<header class='header'>
  <div class='container'>
    <div class='logo'>
      <a href='index.html'>
        <img src={logo.src} alt='Logo' />
      </a>
    </div>
    <nav>
      <ul>
        <li><a href='#work'>work</a></li>
        <li><a href='#about'>about me</a></li>
        <li><a href='#contact'>contact</a></li>
      </ul>
    </nav>
  </div>
</header>
